# Razorpay Credentials
RAZORPAY_KEY_ID=rzp_live_St7rnjc5v8GR7K
RAZORPAY_KEY_SECRET=psY3DIj13o7MgjXriiduaaya

# Cloudinary Credentials (if needed for serverside triggers)
CLOUDINARY_CLOUD_NAME=dn30vxcoq
CLOUDINARY_API_KEY=972246177422269
CLOUDINARY_API_SECRET=JMJq080FCoudvQVTzncRW4Ghd84
